!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "ZURB Foundation"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag "foundation/modernizr.foundation"
    
  %body{:class => page_classes}
    .row
      .twelve.columns
        %h2 Welcome to Foundation on Middleman
        %p This is version 3.2.3.
        %hr
    = yield
    / Included JS Files (Uncompressed)
    = javascript_include_tag "foundation/jquery",
                             "foundation/jquery.cookie",
                             "foundation/jquery.event.move", 
                             "foundation/jquery.event.swipe", 
                             "foundation/jquery.foundation.accordion", 
                             "foundation/jquery.foundation.alerts", 
                             "foundation/jquery.foundation.buttons",
                             "foundation/jquery.foundation.clearing",
                             "foundation/jquery.foundation.forms",
                             "foundation/jquery.foundation.joyride",
                             "foundation/jquery.foundation.magellan",
                             "foundation/jquery.foundation.mediaQueryToggle",
                             "foundation/jquery.foundation.navigation",
                             "foundation/jquery.foundation.orbit",
                             "foundation/jquery.foundation.reveal",
                             "foundation/jquery.foundation.tabs",
                             "foundation/jquery.foundation.tooltips",
                             "foundation/jquery.foundation.topbar",
                             "foundation/jquery.placeholder"
    / Application Javascript, safe to override
    = javascript_include_tag "foundation/app"