!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if IE 8] <html class="no-js lt-ie9" lang="en">
:plain
  <!--[if gt IE 8] -->
%html{:lang => "en"}
  /<![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= data.page.title || "ZURB Foundation"
    / Included CSS Files
    = stylesheet_link_tag "app"
    = javascript_include_tag "foundation/modernizr.foundation"
    
  %body{:class => page_classes}
    .row
      .twelve.columns
        %h2 Welcome to Foundation on Middleman
        %p This is version 3.2.3.
        %hr/
    .row
      .eight.columns
        %h3 The Grid
        / Grid Example
        .row
          .twelve.columns
            .panel
              %p This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
        .row
          .six.columns
            .panel
              %p Six columns
          .six.columns
            .panel
              %p Six columns
        .row
          .four.columns
            .panel
              %p Four columns
          .four.columns
            .panel
              %p Four columns
          .four.columns
            .panel
              %p Four columns
        %h3 Tabs
        %dl.tabs
          %dd.active
            %a{:href => "#simple1"} Simple Tab 1
          %dd
            %a{:href => "#simple2"} Simple Tab 2
          %dd
            %a{:href => "#simple3"} Simple Tab 3
        %ul.tabs-content
          %li#simple1Tab.active This is simple tab 1's content. Pretty neat, huh?
          %li#simple2Tab This is simple tab 2's content. Now you see it!
          %li#simple3Tab This is simple tab 3's content. It's, you know...okay.
        %h3 Buttons
        .row
          .six.columns
            %p
              %a.small.button{:href => "#"} Small Button
            %p
              %a.button{:href => "#"} Medium Button
            %p
              %a.large.button{:href => "#"} Large Button
          .six.columns
            %p
              %a.small.alert.button{:href => "#"} Small Alert Button
            %p
              %a.success.button{:href => "#"} Medium Success Button
            %p
              %a.large.secondary.button{:href => "#"} Large Secondary Button
      .four.columns
        %h4 Getting Started
        %p We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.
        %h4 Other Resources
        %p Once you've exhausted the fun in this document, you should check out:
        %ul.disc
          %li
            %a{:href => "http://foundation.zurb.com/docs"} Foundation Documentation
            = succeed "Everything" do
              %br/
            you need to know about using the framework.
          %li
            %a{:href => "http://github.com/zurb/foundation"} Foundation on Github
            = succeed "Latest" do
              %br/
            code, issue reports, feature requests and more.
          %li
            %a{:href => "http://twitter.com/foundationzurb"} @foundationzurb
            = succeed "Ping" do
              %br/
            us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
    / Included JS Files (Uncompressed)
    = javascript_include_tag "foundation/jquery",
                             "foundation/jquery.cookie",
                             "foundation/jquery.event.move", 
                             "foundation/jquery.event.swipe", 
                             "foundation/jquery.foundation.accordion", 
                             "foundation/jquery.foundation.alerts", 
                             "foundation/jquery.foundation.buttons",
                             "foundation/jquery.foundation.clearing",
                             "foundation/jquery.foundation.forms",
                             "foundation/jquery.foundation.joyride",
                             "foundation/jquery.foundation.magellan",
                             "foundation/jquery.foundation.mediaQueryToggle",
                             "foundation/jquery.foundation.navigation",
                             "foundation/jquery.foundation.orbit",
                             "foundation/jquery.foundation.reveal",
                             "foundation/jquery.foundation.tabs",
                             "foundation/jquery.foundation.tooltips",
                             "foundation/jquery.foundation.topbar",
                             "foundation/jquery.placeholder"
    / Application Javascript, safe to override
    = javascript_include_tag "foundation/app"